@if(menu.isOpen){


<div 
class="overlay"
(click)="close()">
</div>



<aside class="side-menu">


<button
class="close"
(click)="close()">

✕


</button>


<h2>
📚 BookVerse
</h2>



<a routerLink="/" (click)="close()">
🏠 Home
</a>


<a routerLink="/search" (click)="close()">
🔍 Search
</a>


<a routerLink="/categories" (click)="close()">
📚 Categories
</a>


<a routerLink="/authors" (click)="close()">
👤 Authors
</a>


<a routerLink="/favorites" (click)="close()">
❤️ Favorites
</a>



</aside>


}