.header {

background:white;

box-shadow:
0 2px 15px rgba(0,0,0,.1);

position:sticky;

top:0;

z-index:100;


}



.top-bar {


height:70px;

display:flex;

align-items:center;

justify-content:space-between;

padding:0 5%;


}



.menu {


font-size:25px;

border:none;

background:none;

cursor:pointer;

}



h1 {


font-size:24px;

color:#764ba2;


}



.search {


display:flex;

width:40%;


}



.search input {


width:100%;

padding:12px;

border-radius:25px 0 0 25px;

border:1px solid #ddd;


}



.search button {


border:none;

padding:0 20px;

background:#764ba2;

color:white;

border-radius:0 25px 25px 0;


}



.profile {


font-size:22px;

background:none;

border:none;


}



.genres {


display:flex;

gap:25px;

justify-content:center;

padding:15px;

overflow-x:auto;

border-top:1px solid #eee;


}



.genres a {


color:#555;

font-weight:500;

cursor:pointer;

white-space:nowrap;


}


.genres a:hover {


color:#764ba2;


}



@media(max-width:768px){


.top-bar{

flex-wrap:wrap;

height:auto;

padding:15px;

}


h1{

font-size:18px;

}


.search{

order:3;

width:100%;

margin-top:10px;

}


.profile {

font-size:25px;

border:none;

background:none;

cursor:pointer;

transition:.3s;

}


.profile:hover {

transform:scale(1.2);

}

}