<header class="header">


<div class="top-bar">


<!-- hamburger -->
@if (!menu.isOpen) {
  <button
    class="hamburger"
    (click)="openMenu()">
    ☰
  </button>
}



<!-- logo -->

<h1>

📚 BookVerse

</h1>



<!-- search -->

<div class="search">


<input

[(ngModel)]="searchText"

(keydown.enter)="searchBooks()"

placeholder="Search books..."

>


<button
(click)="searchBooks()">

🔍

</button>


</div>



<!-- profile/login -->

<!-- <button
class="profile"
(click)="openProfile()">

👤

</button> -->

<!-- Login / Profile -->
  <!-- Login / Profile -->

<!-- Cart -->
 
<button
  class="cart"
  type="button"
  (click)="openCart()"
  aria-label="Shopping cart"
>
  🛒

  @if (cart.cartCount() > 0) {
    <span class="cart-count">
      {{ cart.cartCount() }}
    </span>
  }
</button>



   <button
  class="profile"
  type="button"
  (click)="openProfile()">

  @if (authService.isLoggedIn()) {

    <span class="profile-icon">👤</span>

    <span class="profile-name">
      {{ authService.user()?.name }}
    </span>

  } @else {

    <span class="login-icon">🔐</span>

  }

</button>


</div>


</header>