<header class="header">


<div class="top-bar">


<!-- hamburger -->
@if (!menu.isOpen) {
  <button
    class="hamburger"
    (click)="openMenu()">
    ☰
  </button>
}



<!-- logo -->

<h1>

📚 BookVerse

</h1>



<!-- search -->

<div class="search">


<input

[(ngModel)]="searchText"

(keydown.enter)="searchBooks()"

placeholder="Search books..."

>


<button
(click)="searchBooks()">

🔍

</button>


</div>



<!-- profile/login -->

<button
class="profile"
(click)="openProfile()">

👤

</button>


</div>


</header>